
*.config
*.dll
*.dll
*.pdb
*.dll
*.pdb

NutritionApp/.vs/NutritionApp/config/applicationhost.config
NutritionApp/.vs/NutritionApp/v16/.suo
NutritionApp/bin/Debug/net5.0/NutritionApp.deps.json
NutritionApp/bin/Debug/net5.0/NutritionApp.dll
NutritionApp/bin/Debug/net5.0/NutritionApp.pdb
NutritionApp/bin/Debug/net5.0/NutritionApp.runtimeconfig.dev.json
NutritionApp/bin/Debug/net5.0/NutritionApp.Views.dll
NutritionApp/bin/Debug/net5.0/NutritionApp.Views.pdb
