@model NutritionApp.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<div class="row whiteBox">
    <h1 class="pageTitle">Add product</h1>
    <div class="col-md-4">
        <form asp-action="Create" id="addProductForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" autocomplete="off" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" autocomplete="off" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GTIN" class="control-label"></label>
                <input asp-for="GTIN" class="form-control" autocomplete="off" />
                <span asp-validation-for="GTIN" class="text-danger"></span>
                <p id="barcode">Scan code</p>
            </div>
            <div id="barcode-scanner">
                <video src=""></video>
                <canvas></canvas>
            </div>
            <div class="form-group">
                <label class="control-label">Kcal / 100 gram</label>
                <input asp-for="Kcal" class="form-control" autocomplete="off" />
                <span asp-validation-for="Kcal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kj / / 100 gram</label>
                <input asp-for="KJ" class="form-control" autocomplete="off" />
                <span asp-validation-for="KJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fat / 100 gram</label>
                <input asp-for="Fat" class="form-control" autocomplete="off" inputmode="numeric"/>
                <span asp-validation-for="Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Saturated Fats / 100 gram</label>
                <input asp-for="FromFatSaturated" class="form-control" autocomplete="off" inputmode="numeric"/>
                <span asp-validation-for="FromFatSaturated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Carbohydrates / 100 gram</label>
                <input asp-for="Carbs" class="form-control" autocomplete="off" />
                <span asp-validation-for="Carbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sugar / 100 gram</label>
                <input asp-for="FromCarbsSuggar" class="form-control" autocomplete="off" inputmode="numeric"/>
                <span asp-validation-for="FromCarbsSuggar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Protein / 100 gram</label>
                <input asp-for="Protein" class="form-control" autocomplete="off" inputmode="numeric"/>
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Salt / 100 gram</label>
                <input asp-for="Salt" class="form-control" autocomplete="off" inputmode="numeric"/>
                <span asp-validation-for="Salt" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <input id="oldBtn" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" class="create-link">
    <div class="create-container">
        <small>CANCEL</small>
        <div class="add-button rotate45">+</div>
    </div>
</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/barcode.js"></script>

@await Html.PartialAsync("_CreateProductNav")
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
