/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.create-link {
    position: fixed;
    bottom: 85px;
    right: 10px;
}

.page-title {
    text-align: center;
    margin-top: 1rem;
}

.products-table {
    display: inline-block;
    overflow-y: scroll;
    height: 280px;
    width: 100%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.create-container {
    /*margin-top: 2rem;*/
    display: flex;
    flex-direction: column;
    /*color: gray;*/ 
    color: white;

}

    .create-container svg {
        position: absolute;
        top: 5px;
        left: -3px;
        transform: rotate(268deg);
    }

    .create-container path, .create-container circle {
        fill: transparent;
    }

    .create-container text {
        fill: white;
        font-size: 1.2em;
        z-index: 99;
        font-weight:500;
    }


.add-button {
    width: 50px;
    height: 50px;
    background-color: #FA8072;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    /*color: gray;*/
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


    .add-button.btn-prple {
        width: 30px;
        height: 30px;
        line-height: 3px;
        /*background-color: #0A0A3A;*/
        margin-top: 2.1rem;
        color: white;
        border: none;
        border-radius: 2px;
       
    }

.food-listing {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem .5rem 1rem 1rem;
    backdrop-filter: blur(14px);
    margin-top: 1rem;
}

.food-listing .table th {
    border-top: 0px;
}

.food-listing .table td {
    /*font-weight: bold;*/
    color: gray;
}

.btn-primary {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  Vertically center the text there 
}*/

.Overview table {
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(14px);
    border-radius: 8px;
}

.overview-graphs #top {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.overview-graphs {
    margin: 15px 0;
    padding: 10px;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(14px);
    border-radius: 8px;
}

.overview-graphs #top>div p {
    margin: 0;
    text-align: center;
}

.overview-graphs #top h4.goal {
    margin-bottom: 0 !important;
}

#appleStyle {
    position: relative;
}

#appleStyle>p {
    margin-bottom: 5px !important;
    width: 20px;
}

#toggle {
    display: none;
}

#toggle:checked~#container {
    background: var(--green);
    border: 1px solid var(--green);
    transition: .2s cubic-bezier(.55, 0, .1, 1);
}

#toggle:checked~#control {
    transform: translate(19px);
    transition: .2s cubic-bezier(.55, 0, .1, 1);
}


#control {
    background: white;
    border-radius: 40px;
    display: block;
    height: 24px;
    margin-left: 4px;
    position: relative;
    transition: .2s cubic-bezier(.55, 0, .1, 1);
    width: 24px;
    z-index: 2;
    margin-bottom: 1px;
    cursor: pointer;
}


#container {
    background: #bdc3c7;
    border-radius: 40px;
    border: 1px solid #bdc3c7;
    height: 30px;
    position: relative;
    transform: translateY(-38px);
    transition: .2s cubic-bezier(.55, 0, .1, 1);
    width: 50px;
    top: 10px;
    right: 0;
}

/*overview Graphs*/
#graphs {
    display: flex;
    justify-content: center;
}

#graphs .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.bar-wrap {
    height: 150px;
    position: relative;
    width: 28px;
    background-color: #f3f3f3;
    box-shadow: 0 0 0 1px #e3e3e3;
}

.bar-wrap .bar {
    position: absolute;
    width: 28px;
    bottom: 0;
    max-height: 100%;
    transition: height 300ms ease;
}

.bar-wrap.carbs .bar {
    background: #EFE93D;
}

.bar-wrap.kcal .bar {
    background: var(--green);
}

.bar-wrap.fats .bar {
    background: #378FDC;
}

.bar-wrap.proteins .bar {
    background: #E13D3D;
}

.bar-wrap.carbs~.graph-text p {
    color: #EFE93D;
}

.bar-wrap.kcal~.graph-text p {
    color: var(--green);
}

.bar-wrap.fats~.graph-text p {
    color: #378FDC;
}

.bar-wrap.proteins~.graph-text p {
    color: #E13D3D;
}

.graph-text {
    text-align: center;
}

.graph-text p {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

/*overview*/
body.Overview {
    background-image: url(../images/bg.png);
    /*background-size: cover;*/
    background-position: center center;
    background-repeat: repeat-y;
}


/* Input validation error
-------------------------------------------------- */
/* .field-validation-error{
   
} */
.input-validation-error {
    background-color: lightcoral;
}

/* --------------------------- Barcode Scanner --------------------------------*/
form[action="/Products/Create"] {
    position: relative;
}

form[action="/Products/Create"] label {
    font-size: 10px;
    text-transform: uppercase;
}

#barcode-scanner {
    display: none;
}

#barcode-scanner canvas {
    max-width: 100% !important;
}

#barcode-scanner.visible {
    display: block;
    max-width: 100% !important;
    position: relative;
    height: auto;
    max-height: 62vw;
    margin-bottom: 1em;
}

#barcode-scanner .drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#barcode-scanner.error {
    background: #eee;
}

#barcode-scanner.visible video {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

#barcode-scanner.error::after {
    content: "There was a problem loading the video stream";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}

#barcode {
    width: auto;
    height: 20px;
    position: absolute;
    right: 10px;
    transform: translateY(-130%);
}
#pList {
    border: 1px solid #ddd;
    border-top: unset;
    background: #fff;
    padding: 5px 1em;
}
#pList:empty {
    border: unset;
    background: unset;
    padding: unset;
}
#pList li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.1em;
    cursor: pointer;
}
