
* {
    font-family: 'Work Sans', sans-serif;
}
.flexContainer{
    display:flex;
}

.table {
    max-width: 100%;
    table-layout: auto;
}
.table th, .table td{
    padding: .75rem 0;
}
table .kcal::after {
    content: "kcal";
    font-size: 10px;
}