:root {
    --green: #6CA15A;
}
body {
    background-color: #F3F3F3;
    font-family: 'Work Sans', sans-serif;
}

/*Top nav*/
nav a[href="/Settings"] {
    position: fixed;
    top:5px;
    right:5px;
}
#day h3 {
    text-align: center;
}
/*------------------------Boxex -------------------------*/
.flexContainer {
    display: flex;
    justify-content: space-between;
}



/*------------------------Text -------------------------*/
.highlightString {
    font-weight: bold;
    color: darkgoldenrod;
}


.fadeString {
    color: dimgrey;
    display: block;
}

a, a:active,a:link, a:visited {
    text-decoration: none;
}

/*------------------------Input Fields -------------------------*/
.form-control#searchFoodsInput {
    background-image: url(../images/search-symbol.svg);
    background-position: 7px 10px;
    background-repeat: no-repeat;
    background-size: 1em;
    text-indent: 1em;
}

input[type="submit"]{
    width: 100%;
    background-color: var(--green);
    border-color: var(--green);
}

.flexContainer .searchFoodField{
    width: 75%;
}
.flexContainer .gramsField{
    width: 23%;
}
/*------------------------Tables -------------------------*/
.table {
    max-width: 100%;
    table-layout: auto;
}
.table thead tr {
    text-transform: uppercase;
    font-size: .7em;
    
}
    .table thead tr th {
        font-weight: 400;
        position: sticky;
        top: 0;
        background: #f3f3f3;
    }
.table th,
.table td {
    padding: .75rem 0;
}
table .kcal::after {
    content: "kcal";
    font-size: 10px;
}

.table img {
    height: 1em;
    
}