@{ 
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutritionApp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/standardStyle.css" />
    <link rel="stylesheet" href="~/css/FooterAndHeader.css" />
</head>
<body class="@ViewData["Title"]">
    <header>

        @*<nav> <div class="@(ViewBag.SelectedPage == "Settings" ? "active-page": "footerNavItem")"><a asp-area="" asp-controller="Settings" asp-action="Index"><img src="~/images/settings.svg" alt="Gears" /></a></div></nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script>
        function selectThisNavItem(element) {
            //('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
            console.log("i am an element: ", element);
            element.classList.add("notActiveTab");
            //let allNavItems = document.querySelectorAll(".footerNavItem");
            //allNavItems.foreach(item => { console.log(navItem); });
            
        }


        //document.addEventListener("DOMContentLoaded", function (event) {
        //    console.log(location.pathname, event);
        //    let allNavItems = document.querySelectorAll(".footerNavItem");
        //    console.log(allNavItems);
        //    if (location.pathname = "/Meals") {
        //        console.log(allNavItems[0]);
        //    }
        //});

        //window.onload = (event) => {
        //    console.log(location.pathname, event);
        //    let allNavItems = document.querySelectorAll(".footerNavItem");
        //    console.log(allNavItems);
        //    if (location.pathname = "/Meals") {
        //        console.log(allNavItems[0]);
        //    }
        //};
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
