@using NutritionApp.Models.ViewModels
@model BasketIndexViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-title">Add Meal</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="AddToBasket" asp-controller="Basket" method="post">
            <div class="form-group">
                <label asp-for="Meal.MealName" class="control-label"><small>MEAL NAME</small></label>
                <input asp-for="Meal.MealName" class="form-control" onkeyup="nc(this)" autocomplete="off" />
                <span asp-validation-for="Meal.MealName" class="text-danger"></span>
            </div>
            <div style="display:flex;justify-content:space-between">
                <div class="form-group" style="width:55%">
                    <label class="control-label"><small>PRODUCT</small></label>
                    <select name="productId" id="productId" class="form-control" asp-items="ViewBag.AllProd as SelectList"></select>
                </div>
                <div class="form-group" style="width:15%">
                    <label class="control-label"><small>GRAMS</small></label>
                    <input name="qunatity" class="form-control" autocomplete="off" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="+" class="add-button btn-prple" />
                </div>
            </div>
        </form>

        <h2 class="page-title" style="color:gray">Ingredients</h2>
        @await Component.InvokeAsync("BasketSummary", Model.Basket)
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Meal.UserId" class="control-label"></label>
                <select type="hidden" asp-for="Meal.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>*@

            <div class="form-group">
                <label asp-for="Meal.MealName" class="control-label"></label>
                <input asp-for="Meal.MealName" class="form-control" autocomplete="off" onkeyup="mealDisabler(this)"/>
                <span asp-validation-for="Meal.MealName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" disabled />
            </div>
        </form>

    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

<script>
    function nc(self) {
        document.getElementById('meal-name').value = self.value;
 }



    function mealDisabler(elm) {
        if (elm.value != "") {
            
            document.querySelectorAll("input[type='submit']")[1].disabled = false;
        } else {
            document.querySelectorAll("input[type='submit']")[1].disabled = true;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
