@using NutritionApp.Models.ViewModels
@model BasketIndexViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-title">Add Meal</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="AddToBasket" asp-controller="Basket" method="post" id="addForm">
            <div class="form-group">
                <label asp-for="Meal.MealName" class="control-label"><small>MEAL NAME</small></label>
                <input asp-for="Meal.MealName" class="form-control" onkeyup="nc(this); mealDisabler(this);" autocomplete="off" />
                <span asp-validation-for="Meal.MealName" class="text-danger"></span>
            </div>
            <div style="display:flex;justify-content:space-between">
                <div class="form-group" style="width:57%">
                    <label class="control-label"><small>PRODUCT</small></label>
                    <select name="productId" id="productId" class="form-control" asp-items="ViewBag.AllProd as SelectList"></select>
                </div>
                <div class="form-group" style="width:27%">
                    <label class="control-label"><small>GRAMS</small></label>
                    <input name="qunatity" class="form-control" autocomplete="off" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="+" class="add-button btn-prple" />
                </div>
            </div>
        </form>

        <h2 class="page-title" style="color:gray">Ingredients</h2>
        @await Component.InvokeAsync("BasketSummary", Model.Basket)
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Meal.UserId" class="control-label"></label>
                    <select type="hidden" asp-for="Meal.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>*@

            <div class="form-group" style="display:none">
                <label asp-for="Meal.MealName" class="control-label"></label>
                <input id="meal-name" asp-for="Meal.MealName" class="form-control" autocomplete="off" />
                <span asp-validation-for="Meal.MealName" class="text-danger"></span>
            </div>

            <div class="form-group" >
                <input type="submit" value="Create" class="btn btn-primary" disabled />
            </div>
        </form>

    </div>
</div>

<a asp-action="Index" class="create-link">
    <div class="create-container">
        @*<small>CANCEL</small>*@
        <div class="add-button rotate45">+</div>
        <svg viewBox="164 68 100 100">
            <path id="curve" d="M 230 80 A 45 45, 0, 1, 0, 275 125" />
            <text width="100">
                <textPath xlink:href="#curve">
                    CANCEL
                </textPath>
            </text>
        </svg>
    </div>
</a>
@*<partial name="_CreateProductNav" />*@


<script>
    function nc(self) {
        document.getElementById('meal-name').value = self.value;
    }

    document.querySelectorAll("input[type='submit']")[1].disabled = true;

    function mealDisabler(elm) {
        if (elm.value != "") {

            document.querySelectorAll("input[type='submit']")[1].disabled = false;
        } else {
            document.querySelectorAll("input[type='submit']")[1].disabled = true;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
