@{
    Layout = "";
}
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
    <link href="~/css/standardStyle.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/details.css" rel="stylesheet" />
</head>

<body>
    <section id="new-user-deets">
        <div class="slideshow-container">
            <div class="mySlides fade" onclick="plusSlides(1);">
                <div id="welcome-block">
                    <p class="story-style">
                        Welcome to NutriApp!
                        We hope you bla bla bla,
                        and that NutriApp helps you
                        bla bla bla.
                    </p>
                </div>
            </div>

            <div class="mySlides fade">
                <div id="gender-block">
                    <form id="genderForm" class="story-style" method="post" asp-controller="Account" asp-action="Gender">
                        <p>
                            Great! I'm ready to start. First, my gender is
                        </p>
                            <select name="genderId" id="genderId" class="form-control" asp-items="ViewBag.Genders"></select>
                        
                        <input type="button" value="Continue" onclick="GenderFormSubmit()" />
                    </form>
                </div>
            </div>

            <div class="mySlides fade">
                <div id="weight-block">
                    <form id="weightForm" class="story-style" method="post" asp-controller="Account" asp-action="Weight">
                        <p>
                            At the current moment, I weight
                        </p>
                            <input type="number" name="weight" id="weight" onkeyup="validateWeight(this)" autocomplete="off"/>
                            <p>  kg. </p>
                        
                        <input type="button" value="Continue" onclick="WeightFormSubmit()" />
                    </form>
                    <p class="fail"></p>
                </div>
            </div>

            <div class="mySlides fade">
                <div id="goal-block">
                    <form id="weightGoalForm" class="story-style" method="post" asp-controller="Account" asp-action="WeightGoal">
                        <p>
                            One last thing... My weight goal is to weight
                            <input type="number" name="weightGoal" id="weightGoal" onkeyup="validateWeight(this)" autocomplete="off"/>
                            kg.
                        </p>
                        <p>
                            <div class="submit" id="mySubmit">All set - Let's go!</div>
                        </p>
                        <input type="submit" />
                    </form>
                    <p class="fail"></p>
                </div>
            </div>

            <a href="/" style="display:none;" id="hmp-link"></a>

        </div>

        <div class="bottom-links">
            <div class="nav-dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
            <p class="nav-dots">Already have an account? <a asp-controller="Account" asp-action="Login">Log in</a> instead.</p>
        </div>
    </section>

    <script type="text/javascript">
        function GenderFormSubmit() {
            let url = document.getElementById("genderForm").action;
            let genderId = document.getElementById("genderId").value;

            let formData = new FormData();
            formData.append("genderId", genderId);
            const XHR = new XMLHttpRequest();
            XHR.addEventListener('load', function (event) {
                plusSlides(1);
            });
            XHR.open('POST', url);
            XHR.send(formData);
        }

        function WeightFormSubmit() {
            let url = document.getElementById("weightForm").action;
            let weight = document.getElementById("weight").value;

            let formData = new FormData();
            formData.append("weight", weight);
            const XHR = new XMLHttpRequest();
            XHR.addEventListener('load', function (event) {
                plusSlides(1);
            });
            XHR.open('POST', url);
            XHR.send(formData);
        }

        function WeightGoalFormSubmit() {
            let url = document.getElementById("weightGoalForm").action;
            let weightGoal = document.getElementById("weightGoal").value;
            let formData = new FormData();
            formData.append("weightGoal", weightGoal);
            const XHR = new XMLHttpRequest();
            XHR.addEventListener('load', function (event) {
                document.getElementById("hmp-link").click();
            });
            XHR.open('POST', url);
            XHR.send(formData);
        }
    </script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
                slides[0].classList.remove('show');
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            slides[slideIndex - 1].classList.add('show');
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <script id="swiping-script">
        document.addEventListener('touchstart', handleTouchStart, false);
        document.addEventListener('touchmove', handleTouchMove, false);

        var xDown = null;

        function getTouches(evt) {
            return evt.touches ||
                evt.originalEvent.touches;
        }

        function handleTouchStart(evt) {
            const firstTouch = getTouches(evt)[0];
            xDown = firstTouch.clientX;
        };

        function handleTouchMove(evt) {
            if (!xDown) {
                return;
            }

            var xUp = evt.touches[0].clientX;

            var xDiff = xDown - xUp;

            if (xDiff > 0) {
                plusSlides(1);
            } else {
                plusSlides(-1);
            }

            xDown = null;
        };
    </script>

    <script>
        function validateWeight(self) {
            let value = self.value;
            let er = self.parentNode.parentNode.getElementsByClassName('fail')[0];
            if (isNaN(value) || value < 0) {
                er.innerText = "The value provided should be a positive number.";
            } else {
                er.innerText = "";
            }
        }
    </script>
    <script>
        //auto submit forms
        const genderForm = document.getElementById('genderForm');
        const weightForm = document.getElementById('weightForm');
        const mySubmit = document.getElementById('mySubmit');
        //const weightGoalForm = document.getElementById('weightGoalForm');

        document.getElementById('genderId').addEventListener("keyup", function () {
            genderForm.submit();
        });

        mySubmit.addEventListener('click', function () {
            weightForm.submit();
            weightGoalForm.submit();
        });

        //document.getElementById('weight').addEventListener("change", function () {
        //    weightForm.submit();
        //});

        //document.getElementById('weightGoal').addEventListener("change", function () {
        //    weightGoalForm.submit();
        //});

    </script>
</body>
